@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --buttonPrimary: #558eff;
  --primary: #071d49;
  --secondary: #7900ce;
  --highlight: #ff3e7d;
  --tertiary: #707070;
  --divider: #d6d6d6;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
